*{
  margin : 0;
  padding : 0;
  box-sizing : border-box;
  font-weight : 600;
}

/* definisco una mia classe profile e i suoi componenti interni */


.profile-img  {
  width : 120px;
  height : 120px;
  vertical-align: middle;
}



/* utility */

.text-coiny{
  font-family : "Coiny", system-ui;
}

.text-title{
  color :rgb(209, 64, 103);
  
}

.bg-body-black{
  color : white;
  background-color: black;
}
